.venv/
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
.idea/

uploads/
*.log
*.tmp
.DS_Store
Thumbs.db

project/data/
project/base_model/

project/artifacts/**
!project/artifacts/
!project/artifacts/byt5_base_mathbridge_ru_medium_clean/
project/artifacts/byt5_base_mathbridge_ru_medium_clean/**
!project/artifacts/byt5_base_mathbridge_ru_medium_clean/final_model/
!project/artifacts/byt5_base_mathbridge_ru_medium_clean/final_model/**